@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*
{
	font-family: "Roboto", Arial, sans-serif;
}

::moz-selection
{
	background-color: rgba(255, 110, 25, 0.5);
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

::selection
{
	background-color: rgba(255, 110, 25, 0.5);
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

A
{
	text-decoration: none;
}

html
{
	height: 100%;
}

body
{	
	padding: 0px;
	margin: 0px;
	background-color: #303030;
	height: 100%;
}

@media screen and (max-width: 950px)
{
	header
	{
		padding-top: 150px;
	}
}

@media screen and (max-width: 480px)
{
	::-webkit-scrollbar
	{
		display: none;
	}

	header
	{
		padding-top: 80px;
	}
}

.flex
{
	display: flex;
}