/**
 * Body
 */
body
{
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", "Open Sans", Arial;
	-webkit-font-smoothing: antialiased;
	background-color: #070707;
	color: #FFFFFF;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
	overflow-x: hidden;
}

/**
 * Header
 */
header
{
	display: block;
	background: url("../imgs/g2team.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

/**
 * Header Logo
 
header > img
{
	-webkit-user-drag: none;
	position: relative;
	left: 50%;
	top: 110px;
	transform: translate(-50%, 00%);
	width: 20vw;
	min-width: 180px;
	max-width: 280px;
	text-align: center;
	transition: 1s ease-in-out;
	will-change: all;
}*/

header > h1 > img
{
	width: 180px;
	vertical-align: middle;
	filter: drop-shadow(0px 0px 4px rgb(255, 70, 0));
	-ms-filter: drop-shadow(0px 0px 4px rgb(255, 70, 0));
	-webkit-filter: drop-shadow(0px 0px 4px rgb(255, 70, 0));
	transition: all 500ms;
}

header > h1 > img:hover
{
	filter: drop-shadow(0px 0px 12px rgb(255, 120, 20));
	-ms-filter: drop-shadow(0px 0px 12px rgb(255, 120, 20));
	-webkit-filter: drop-shadow(0px 0px 12px rgb(255, 120, 20));
	transition: all 500ms;
}

/**
 * Website title
 */
header > h1
{
	text-align: center;
	font-weight: lighter;
	font-size: 4.5rem;
	margin: 16% 4vw 1vw 4vw;
	text-shadow: 0px 0px 12px rgb(255, 70, 0);
}

header > h2
{
	text-align: center;
	font-weight: normal;
	font-size: 1.3rem;
	margin-bottom: 5vw;
	letter-spacing: 1px;
	word-spacing: 2px;
}

/**
 * Navigation bar
 */
header > nav
{
	list-style: none;
	height: 70px;
	transition: 1s ease-in-out;
	will-change: height opacity;
}

/**
 * Navigation bar item
 */
header > nav > li
{
	display: table-cell;
	padding: 35px 25px 10px 25px;
}

/**
 * The link that inside navigation bar item
 */
header > nav > li > a
{
	color: #FFFFFF;
	text-decoration: none;
	padding: 8px 10px 8px 10px;
	transition: all 300ms;
}

header > nav > li > a:hover
{
	transition: all 300ms;
	text-shadow:0px 0px 20px #FF7700,
				2px 0px 20px #FF7700,
				-2px 0px 20px #FF7700,
				0px 2px 20px #FF7700,
				0px -2px 20px #FF7700;
}

header > nav > li a.selected
{
	border-bottom: 3px solid #FF3300;
}

header > nav > li > a:active
{
	background-color: rgba(255, 70, 0, 0.4);
}

header > #partners
{
	position: relative;
	left: 50vw;
	transform: translate(-50%, -40%);
	display: table-cell;
	padding: auto;
	padding-top: 50px;
	margin: auto;
}

header > #partners > A > img
{
	display: inline-block;
	padding: 0px 30px 0px 30px;
	vertical-align: middle;
}

main
{
	width: 50%;
	margin: auto;
	padding: auto;
}

main > section
{
	width: 40%;
	margin-right: auto;
}


#partners_logo_hyperx
{
	height: 40px;
	transition: 400ms all;
}

#partners_logo_hyperx:hover
{
	filter: drop-shadow(0px 0px 12px rgb(255, 70, 0));
	-ms-filter: drop-shadow(0px 0px 12px rgb(255, 70, 0));
	-webkit-filter: drop-shadow(0px 0px 12px rgb(255, 70, 0));
	transition: 400ms all;
}

#partners_logo_paysafecard
{
	height: 40px;
	transition: 400ms all;
}

#partners_logo_paysafecard:hover
{
	filter: drop-shadow(0px 0px 12px rgba(0, 150, 255, 0.4));
	-ms-filter: drop-shadow(0px 0px 12px rgba(0, 150, 255, 0.4));
	-webkit-filter: drop-shadow(0px 0px 12px rgba(0, 150, 255, 0.4));
	transition: 400ms all;
}

#partners_logo_razer
{
	height: 60px;
	transition: 400ms all;
}

#partners_logo_razer:hover
{
	filter: drop-shadow(0px 0px 12px rgb(50, 255, 0));
	-ms-filter: drop-shadow(0px 0px 12px rgb(50, 255, 0));
	-webkit-filter: drop-shadow(0px 0px 12px rgb(50, 255, 0));
	transition: 400ms all;
}